body{
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
}
.container{
    
    height: 100vh;
   
    display: grid;
    grid-template-columns: 4fr 1fr;
   grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: "header header"  "section nav"  "footer nav";
    background-color: rgb(238, 238, 238);
    
    
}

header{
    grid-area: header;
    background-color: white;
    text-align: left;
    font-size: 2rem;
    padding-left: 2%;
    font-weight: bold;
    
   
}
#nom{
    position: relative;
    animation-name: titre;
    animation: titre 4s forwards;
   
}
span{
    color:rgb(248, 189, 3) ;
  
    
}
@keyframes titre{
    from{
        left: 100% ;
    }
    to{
        left: 0px;
    }
}
.photo{
    width: 190px;
    height: 190px;
    margin: auto;
    position: absolute;
    animation: exemple 3s  ease-in-out forwards;
   right: 4.6%;
    z-index: 1;
}
@keyframes exemple {
   from{
       top:-100%;
       
      } 
   to{
      top: 2%;
      
    } 
  
    
}
/****Section ****/
section{
    position: relative;
    grid-area: section;
   
    background-color: rgb(238, 238, 238);
    animation: sect 3s ease-in-out forwards;
}

@keyframes sect {
    from{
        top: 100% ;
        
    }
    to{
        top: 0% ;
    }
}
h2{
    font-size: 1rem;
    display: block;
    text-align: left;
    color: rgb(248, 189, 3);
   
  position: relative;
  padding-left: 3%;
}
h2::after{
    position: absolute;
    content: "";
    transform: scale(1);
    height: 6%;
    width: 90%;
    background: rgb(248, 189, 3);
    display: block;
    top: 115%;
   
}

p{
    text-align: justify;
    padding-left: 3%;
    font-style: italic;
}

.form{
    
    font-style: normal;
    position: relative;
    left: 10%;


}
.exp{
    font-style: normal;
    padding-left: 15%;
    font-size: 0.9rem;
    margin-top: -1%;
   
}
#cercle{
    position: absolute;
    width: 68px;
    height: 68px;
    border-radius: 48px;
    background-color: rgb(248, 189, 3);
   top: -12%;
    right: 99%;
}
#date {
    color: rgb(255 255 255);
    position: absolute;
    font-size: 0.8rem;
    left: 10%;
    top: 30%
}
#interet {
    position: relative;
    padding-left: 9%;
    margin: auto;
    list-style: initial;
   
    font-size: 0.9rem;
}


/****Barre de droite **/
nav{
    grid-area: nav;
    display: grid;
    ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(255 255 255);
    width: 200px;
    position: relative;
    padding-top: 58%;
    animation: barre 3s  ease-in-out forwards;
}
@keyframes barre {
    from{
        top:-100%;
        
       } 
    to{
       top: 0%;
       
     } 
   
     
 }
.blanche{
    background-color: white;
    text-align: center;
}   

.jaune{
    background-color: rgb(248, 189, 3);
    height: 105px ;
    padding-top: 37%;
    width: 100%;
    position: relative;
}


.barre_interieur{
    position: relative;
    height: 100%;
    background-color: red;
    

}

ul{
    position: absolute;
    margin-top: -35%;
    list-style: none;
    font-size: 0.8rem;
    text-align: justify;
    right: 4%;
}
li{
    padding: 0 0 1% 0;
}
#tel{
    color: black;
    position: relative;
}
#tel::before{
    content: "\01F4DE";
    font-family: Segoe UI Symbol;
    position: absolute;
    left: -17%;
    top: -18%;
    color:white;
}
#mail::before {
    content: '\2709';
    position: absolute;
    left: 12%;
    top: -1%;
    color:white;
}

#anniv{
    color: black;
    position: relative;
}

.fa-cake-candles{
    color: white;
    position: absolute;
    left: -15%;
}
#drapeau{
    color: black;
    position: relative;
}
#drapeau::before{
    content: "\002691";
    position: absolute;
    right: 108%;
    font-size: 0.8rem;
    top: -11%;
    color:white;
}
#maison{
    color: black;
    position: relative;
}
.fa-house{
    position: absolute;
    
    left: -9%;
    color: rgb(255 255 255);
    font-size: 0.6rem;
    top: 8%
}
footer{
    grid-area: footer;
}

#lieu{
  
    position: relative;
    color: black;
}
.fa-signs-post{
    position: absolute;
    color: white;
    left: -17%;
    top: 20%;
}
  .car{
         position: absolute;
    left: -14%;
    color: rgb(255 255 255);
    font-size: 0.7rem;
    top: 15%;
  }

  #voiture{
      position: relative;
      color: black;
      
  }

#cit{
    font-size: 1.3rem;
    font-weight: bold;
    
}

.liens{
    background-color: rgb(238, 238, 238);
}

.liens a{
 text-decoration: none;
 color: black;
}

.git{
    font-style: normal;
    font-size: 0.9rem;
}

/***Barre de niveau ***/

.barre {
    background-color: rgb(192, 192, 192);
    width: 80%;
    margin-left: 2%;
    margin-bottom: 4%
     
}

.skill {
    background-color: rgb(248, 189, 3);
    color: rgb(248, 189, 3);
    padding: 0%;
    text-align: right;
    font-size: 7px;
   
}

.anglais {
    width: 80%;
}

#ang{
    font-style: normal;
    color: rgb(248, 189, 3);
    margin: 10px 10px 10px 0;
    font-size: 1.3rem;

}
#tech{
    font-style: normal;
    margin-bottom: 6px;
    margin-top: 0px;
}
/***Informatique**/

.informatique{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    margin-top: 0px
}

.informatique h2{
    color: white;
    font-size: 1.3rem;
    margin: 10px 10px 10px 0;
}
.informatique h2::after{
    display: none;
}

.informatique .skill{
   background-color: white;
    color: white;
}

#html{
    margin: 0;
    font-size: 0.85rem;
    font-style: normal;
}

#css{
    margin-top: 11%;
    margin-bottom: 0%;
    font-size: 0.85rem;
    font-style: normal;
}

#js{
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 0.85rem;
    font-style: normal;
}
 .html{
    width: 90%;
}

.css{
    width: 80%;
}

.js{
    width: 50%;
}